[Unit]
Description=CO2 Monitoring via Prometheus
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/co2_prometheus/main.py /dev/co2mini0

[Install]
WantedBy=multi-user.target
