[Unit]
Description=CO2 Monitoring via Prometheus
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/.local/bin/co2mini /dev/co2mini0

[Install]
WantedBy=multi-user.target
